<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.akakom.infodarurat">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconinfodarurat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityKebakaran"
            android:label="@string/title_activity_activity_kebakaran"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ActivityGempabumi"
            android:label="@string/title_activity_activity_gempabumi"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ActivityTsunami"
            android:label="@string/title_activity_activity_tsunami"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ActivityBanjir"
            android:label="@string/title_activity_activity_banjir"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ActivityLongsor"
            android:label="@string/title_activity_activity_longsor"
            android:theme="@style/MyTheme" />
    </application>

</manifest>